.robot-container {
  margin: 30vh auto;
  position: relative;
}

.robot-face-shape {
  width: 550px;
  height: 550px;
  background: rgb(133, 181, 177);
  background: radial-gradient(
    circle,
    rgba(133, 181, 177, 1) 0%,
    rgba(128, 176, 171, 1) 35%,
    rgba(96, 133, 129, 1) 58%,
    rgba(116, 255, 244, 1) 88%
  );
  border-radius: 30%;
  border: 10px solid black;
  box-shadow: rgba(255, 255, 255, 0.2) 0px 0px 30px 10px;
}

.robot-face-shape div {
  position: relative;
}

.robot-face-shape ~ div {
  position: absolute;
}

.robot-eye-left,
.robot-eye-right {
  width: 39%;
  height: 19%;
  background-color: red;
  background-image: url("https://picsum.photos/200/300.webp");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.robot-eye-left {
  border-radius: 0px 100% 83px 0px / 0px 100% 62px 0px;
  top: 28%;
  left: 5%;
}

.robot-eye-right {
  border-radius: 100% 0px 0px 83px / 100% 0px 0px 62px;
  top: 9%;
  left: 56%;
}

.robot-nose,
.robot-ear-left,
.robot-ear-right {
  width: 0px;
  height: 0px;
}

.robot-nose {
  position: relative;
  width: 100px;
  height: 90px;
}

.robot-nose:before,
.robot-nose:after {
  position: absolute;
  content: "";
  left: 50px;
  top: 50px;
  width: 50px;
  height: 80px;
  background: #000428; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #004e92,
    #000428
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #004e92,
    #000428
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

  border-radius: 50px 50px 0 0;
  transform: rotate(-45deg);
  transform-origin: 0 100%;
}

.robot-nose:after {
  left: 0;
  transform: rotate(45deg);
  transform-origin: 100% 100%;
}

.robot-mouth {
  background-color: #000;
  width: 18em;
  height: 7em;
  border-radius: 0px 0% 50% 50% / 0px 0% 100% 100%;
  top: 10%;
  overflow: hidden;
}

.robot-nose,
.robot-mouth {
  left: 50%;
  transform: translateX(-50%);
}

.robot-mouth .robot-tooth {
  position: absolute;
  height: 100%;
  width: 18px;
  background-color: tomato;
  top: 0;
}

.robot-mouth .robot-tooth:nth-child(1) {
  left: 0px;
}

.robot-mouth .robot-tooth:nth-child(2) {
  left: 30px;
}

.robot-mouth .robot-tooth:nth-child(3) {
  left: 60px;
}

.robot-mouth .robot-tooth:nth-child(4) {
  left: 80px;
}

.robot-mouth .robot-tooth:nth-child(5) {
  left: 100px;
}

.robot-mouth .robot-tooth:nth-child(6) {
  left: 120px;
}

.robot-mouth .robot-tooth:nth-child(7) {
  left: 140px;
}

.robot-mouth .robot-tooth:nth-child(8) {
  left: 160px;
}

.robot-mouth .robot-tooth:nth-child(9) {
  left: 180px;
}

.robot-mouth .robot-tooth:nth-child(10) {
  left: 200px;
}

.robot-mouth .robot-tooth:nth-child(11) {
  left: 230px;
}

.robot-mouth .robot-tooth:nth-child(12) {
  left: 260px;
}

.robot-ear-left,
.robot-ear-right {
  --border-width: 180px;
  top: 50%;
  transform: translateY(-50%);
  opacity: 0.5;
}

.robot-ear-left {
  border-right: solid var(--border-width) rgb(116, 255, 244);
  border-top: solid calc(var(--border-width) / 2) transparent;
  border-bottom: solid calc(var(--border-width) / 2) transparent;
  right: 100%;
}

.robot-ear-right {
  border-left: solid var(--border-width) rgb(116, 255, 244);
  border-top: solid calc(var(--border-width) / 2) transparent;
  border-bottom: solid calc(var(--border-width) / 2) transparent;
  left: 100%;
}

.robot-hair-style {
  width: 20rem;
  top: -8%;
  left: 12%;
  transform: translateY(-100%);
}

.robot-hair-style div {
  width: 3rem;
  height: 3rem;
  background-color: red;
  position: absolute;
}

.robot-hair-style div:before {
  --border-width: 3rem;
  content: "";
  position: absolute;
  width: 0;
  height: 0;
  border-top: var(--border-width) solid #21222c;
  border-right: calc(var(--border-width) / 2) solid transparent;
  border-left: calc(var(--border-width) / 2) solid transparent;
}

.robot-hair-style div:nth-child(1) {
  left: 60px;
}

.robot-hair-style div:nth-child(2) {
  left: 120px;
}

.robot-hair-style div:nth-child(3) {
  left: 180px;
}

.robot-hair-style div:nth-child(4) {
  left: 240px;
}

.robot-hair-style div:nth-child(5) {
  left: 300px;
}

.robot-hair-one {
  background: #fceabb; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #f8b500,
    #fceabb
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #f8b500,
    #fceabb
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.robot-hair-two {
  background: #808080; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to left,
    #3fada8,
    #808080
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to left,
    #3fada8,
    #808080
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.robot-hair-three {
  background: #3a6186; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #89253e,
    #3a6186
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #89253e,
    #3a6186
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
